h1 {
  text-align: center;
}
footer {
  margin: 40px 0 0 0;
  font-size: 12px;
}
path{
  fill: none;
  stroke: #ccc;
  stroke-width: .5;
}
path.cdu {
  fill: #000;
}
path.spd {
  fill: red;
}
path.gruene {
  fill: green;
}
#tooltip {
  position: absolute;
  opacity: 0;
  padding: 5px;
  z-index: 10;
  background: #fff;
  border: 1px solid #ccc;
}
#tooltip p {
  margin: 5px 0;
  font-size: 12px;
}
