---
layout: default
---
<div id="live-results">
  <h1>Wahlkarte für Münster</h1>
  <h2>Ergebnisse der Kommunalwahl 2014</h2>
  <p id="zusatz"></p>
  <div id="map-type" class="button-group">
    <form id="types">
      <label>
        <input type="radio" name="district-tpyes" value="districts" checked>
        <span class="button-group-item">Wahlbezirke (33)</span>
      </label>
      <label>
        <input type="radio" name="district-tpyes" value="sub-districts">
        <span class="button-group-item">Stimmbezirke (261)</span>
      </label>
    </form>
  </div>
  <div id="map">
    <div id="explanation">
      <p>Dargestellt sind die Gewinner der einzelnen Kommunalwahlbezirke<br/>
      Alle Ergebnisse des Bezirks bei Klick</p>
    </div>
    <div id="map-controll">
      <div class="controll" id="extent"><a href="javascript:;"><img src="{{site.baseurl}}/images/muenster.png" /></a></div>
    </div>
    <div id="vote-map"></div>
  </div>
  <div id="detail"></div>
  <div id="tooltip"></div>

</div>
<script id="tooltip-template" type="text/x-underscore-template">
  <h4><%- bezirk %></h4>
  <p><%-partyName%>: <%-percentage%>%</p>
</script>
<script id="detail-template" type="text/x-handlebars-template">
  <ul>
    <% _.each( parties, function( party){ %>
      <li>
        <span><%- partyName(party.party) %></span>
        <b><%- d3.round(party.percentage,1) %>% </b><span class="votes">(<%- party.votes %> Stimmen)</span>
      </li>
    <% }); %>
  </ul>
</script>
