<html>
  <head>
    <style>
      path{
        fill: none;
        stroke: #ccc;
        stroke-width: .5;
      }
     path.cdu {
       fill: #000;
     }
     path.spd {
       fill: red;
     }
     path.grune {
       fill: green;
     }
    </style>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://d3js.org/d3.geo.tile.v0.min.js"></script>
    <script src='js/underscore-min.js'></script>
    <script src='js/map.js'></script>
  </head>
  <body>
    {{content}}
  </body>
</html>
