<html>
  <head>
    <style>
      path{
        fill: none;
        stroke: #ccc;
        stroke-width: .5;
      }
     path.cdu {
       fill: #000;
     }
     path.spd {
       fill: red;
     }
     path.gruene {
       fill: green;
     }
     #tooltip {
       position: absolute;
       opacity: 0;
       padding: 5px;
       z-index: 10;
       background: #fff;
       border: 1px solid #ccc;
     }
    </style>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://d3js.org/d3.geo.tile.v0.min.js"></script>
    <script src='js/underscore-min.js'></script>
    <script src='js/map.js'></script>
    <script src='js/d3Map.js'></script>
    <script src='js/votingMap.js'></script>
    <script src='js/main.js'></script>
  </head>
  <body>
    {{content}}
  </body>
</html>
