<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
  </head>
  <body>
    {{content}}
    <footer>
    <p>Ein Project von <a href="http://codeformuenster.org">Code for Münster</a>. Datenbasis: <a href="http://www.stadt-muenster.de/wahlen/wahlergebnisse/uebersicht/kommunalwahlen-2009.html">Stadt Münster</a></p>
    </footer>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://d3js.org/d3.geo.tile.v0.min.js"></script>
    <script src='js/underscore-min.js'></script>
    <script src='js/helpers.js'></script>
    <script src='js/map.js'></script>
  </body>
</html>
